    .section-2{
        
        margin-top: 10vh;

        a{
       
            font-size: 9rem;
        
            text-decoration: none;
        i{
            color: white;
            text-shadow:1px 5px 10px black;
        }

        }
        }
        
